@import 'pull.scss';

// custom css here
html, body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}
.w-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media (min-width: 992px) {
  .visible-mobile {
    display: none;
  }
}